.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.click-zone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.btn {
  position: absolute;
  margin: auto;
  cursor: pointer;
  border: 3px solid white;
  box-sizing: border-box;

  -webkit-animation: btn 1s ease infinite;
  animation: btn 1s ease infinite;
}

@-webkit-keyframes btn {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes btn {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
